<div class="banner-container">
  <div class="bg-img d-flex justify-content-center align-items-end">
    <div class="title-container">
      <h1 class="display-5 fw-bold text-white bg-opacity">Bruno & Isabella</h1>
    </div>
  </div>
  <div class="my-4 px-4">
    <div class="text-center font-typewriter">
        Siamo lieti di informarvi che ci sposiamo il
    </div>
    <div class="text-center">
      <h2>
        1 giugno 2024
      </h2>
    </div>
  </div>
  <div>
    <div class="px-4 text-center">
      <p>
        Se siete qui, è perché vi vogliamo accanto durante il nostro giorno speciale! In questo sito potrete trovare tutte le informazioni utili e i dettagli da non perdere in attesa di questo momento.
      </p>
      <p>
        Se riuscite ad esserci al nostro matrimonio vi chiediamo gentilmente di farci sapere!
      </p>
    </div>
  </div>
</div>

