@import "../variables.scss";

.wrapper{
  display:flex;
  align-items: flex-start;
  div.img-wrapper{
    margin-right: .5rem;
    width: 15rem;
    img{
      width:100%;
    }
  }
  div.img-car{
    width:5rem;
  }
  div.img-boat{
    width:8rem;
  }
}
