<div class="p-3 mb-1">
  <h1 class="text-center">
    Location
  </h1>
  <p>
    La ceremonia e il ricevimento si terrà presso
  </p>
  <h3 class="text-center">
    Hotel Punta Negra
  </h3>
  <h4 class="text-center">
    SS 127 Bis Alghero (SS)
  </h4>
  <div class="orario text-center">
    <h2>
      Orario
    </h2>
    <p>
      La ceremonia avrà inizio alle ore 18:00
      Il ricevimento verrà subito dopo nella stessa location (circa 18:30)
    </p>
  </div>
  <div class="text-center">
    <h2>
      Come raggiungerci
    </h2>
    <p>
      Per quelli che vengono da lontano, c'è l'aeroporto di Alghero che dista circa 6km dal location.
  Ci sono delle navette e autobus regolari che portano dal Aeroporto a Fertilia Piazza Venezia Giulia. Dalla fermata ci sono circa 10 minuti a piedi.
  Per quelli che vengono in auto l'Hotel Punta Negra ha ampio parcheggio.
  Per i più corraggiosi c'è la nave (Tirrenia, GNV, Grimaldi) con attracco a Porto Torres (circa 35km dal Hotel) o Olbia (140km).
  Per quelli che vengono in Yatch, secondo la lunghezza, c'è il porto di Algehro.
    </p>
  </div>
  <div class="text-center">
    <h2>
      Pernottamenti
    </h2>
    <p>
      Per i pernottamenti presso Hotel Punta Negra bisogna avvertirci prima dell'inizio stagione per avere un prezzo scontato. Altrimenti ci sono diverse possibilità con AirBnB, Booking.com nella città di Fertilia e Alghero.
    </p>
  </div>
</div>
