

<header class="py-2 px-4 sticky-top">
  <div class="row text-end">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
          <nav ngbDropdownMenu>
            <a href="#day-program" ngbDropdownItem>Home</a>
            <a href="#location-maps" ngbDropdownItem>Another Action</a>
            <a href="#" ngbDropdownItem>Home</a>
            <a href="#footer" ngbDropdownItem>Footer</a>
          </nav>
        </div>
      </div>
    </div>
</header>

<body class="px-4">
  <day-program id="day-program"></day-program>
  <location-maps id="location-maps"></location-maps>
</body>
<footer id="footer">
  footer with addition info
</footer>


<router-outlet></router-outlet>
