

<header class="py-2 px-2 sticky-top">
  <div class="text-end">
    <div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
          <nav ngbDropdownMenu class="font-typewriter text-end">
            <a href="#" ngbDropdownItem>Home</a>
            <a href="#location-maps" ngbDropdownItem>Location & Orario</a>
            <a href="#day-program" ngbDropdownItem>Pernottamenti & altro</a>
            <a href="#gift-request" ngbDropdownItem>Lista nozze</a>
          </nav>
        </div>
      </div>
    </div>
</header>
<wedding-banner></wedding-banner>
<div class="px-4">
  <div class="text-center" id="location-maps">
    <img class="my-img" src="assets/img/elephant.svg" alt="divider">
  </div>
  <location-maps ></location-maps>
  <div class="text-center" id="day-program">
    <img class="my-img" src="assets/img/lion.svg" alt="divider">
  </div>
  <day-program ></day-program>
  <div class="text-center" id="gift-request">
    <img class="my-img" src="assets/img/zebra.svg" alt="divider">
  </div>
  <gift-request ></gift-request>
  <!-- <div class="text-center">
    <img class="my-img" src="assets/img/giraffe.svg" alt="divider">
  </div> -->
</div>
<footer id="footer" class="border-top py-3 mt-4">
  <div class="align-items-center justify-content-center h-100 mb-2">
    <div class="col-12 d-flex justify-content-center">
      <a href="#"><img src="assets/img/main-logo.jpg" alt="Main Logo" class="my-img"></a>
    </div>
  </div>
  <div class="text-center">
    <div class="font-typewriter"> Copyright
      <fa-icon [icon]="faCopyright" class="my-copyright-icon"></fa-icon>
      Felicia Pompei
    </div>
  </div>
</footer>
<router-outlet></router-outlet>
