

<header class="py-2 px-4 sticky-top">
  <div class="text-end">
    <div>
      <div ngbDropdown class="d-inline-block">
        <button type="button" class="btn btn-outline-dark" id="dropdownBasic1" ngbDropdownToggle>
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
          <nav ngbDropdownMenu>
            <a href="#" ngbDropdownItem>Home</a>
            <a href="#day-program" ngbDropdownItem>program</a>
            <a href="#location-maps" ngbDropdownItem>Location</a>
            <a href="#gift-request" ngbDropdownItem>gift request</a>
          </nav>
        </div>
      </div>
    </div>
</header>
<wedding-banner></wedding-banner>
<page-divider></page-divider>
<body class="px-4">
  <day-program id="day-program"></day-program>
  <page-divider></page-divider>
  <location-maps id="location-maps"></location-maps>
  <page-divider></page-divider>
  <gift-request id="gift-request"></gift-request>
  <page-divider></page-divider>
</body>
<footer id="footer" class="border-top py-3 mt-4">
  <div class="align-items-center justify-content-center h-100 mb-2">
    <div class="col-12 d-flex justify-content-center">
      <a href="#"><img src="assets/img/main-logo.jpg" alt="Main Logo" class="my-img"></a>
    </div>
  </div>
  <div class="text-center">
    <h6> Copyright
      <fa-icon [icon]="faCopyright" class="my-copyright-icon"></fa-icon>
      Felicia Pompei
    </h6>
  </div>
</footer>
<router-outlet></router-outlet>
