header{
  background-color: white;
}
.elephant-img{
  width: 30%;
  height:auto;
}
body{
  .my-img{
    width:30%;
    height:auto;
  }
}
footer{
  .my-img{
    width: 3rem;
    height: 3rem;
  }
  .my-copyright-icon{
    font-size: 0.5rem;
    vertical-align: super;
  }
}
