@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
h1{
  font-family: 'Great Vibes', cursive;
  font-weight: 800;
  font-size: 3.5rem;
}

h2{
  font-family: 'Great Vibes', cursive;
  font-weight: 800;
  font-size: 2.5rem;
}

h3{
  font-family: 'Great Vibes', cursive;
  font-weight: 800;
  font-size: 1.5rem;
}

p{
  font-family: 'Special Elite';
}

.font-cursive{
  font-family: 'Great Vibes', cursive;
}

.font-typewriter{
  font-family: 'Special Elite';
}
