<div class="mb-1">
  <div class="container mb-5">
    <h1 class="text-center">
      Pernottamenti
    </h1>
    <div class="wrapper">
      <div class="img-wrapper">
        <img src="assets/img/beach.svg" alt="boat img">
      </div>
      <div>
        <p>
          Per i pernottamenti presso Hotel Punta Negra è possibile avere un prezzo scontato, se si è interessati, avvertire entro e non oltre il 1 marzo 2024.
        </p>
      </div>
    </div>
    <div class="wrapper">
      <div class="img-wrapper img-hotel">
        <img src="assets/img/hotel.svg" alt="hotel img">
      </div>
      <div>
        <p>
          In alternativa vi consigliamo AirBnB o Booking.com nella città di Fertilia & Alghero.
        </p>
      </div>
    </div>
  </div>
</div>

