<div class="mb-1">
  <div class="container mb-5">
    <h1 class="text-center">
      Come raggiungerci & Pernottamenti
    </h1>
    <p>
      Per quelli che vengono da lontano, c'è l'aeroporto di Alghero che dista circa 6km dal location.
  Ci sono delle navette e autobus regolari che portano dal Aeroporto a Fertilia Piazza Venezia Giulia. Dalla fermata ci sono circa 10 minuti a piedi.
  Per quelli che vengono in auto l'Hotel Punta Negra ha ampio parcheggio.
  Per i più corraggiosi c'è la nave (Tirrenia, GNV, Grimaldi) con attracco a Porto Torres (circa 35km dal Hotel) o Olbia (140km).
  Per quelli che vengono in Yatch, secondo la lunghezza, c'è il porto di Algehro.
    </p>
    <p>
      Per i pernottamenti presso Hotel Punta Negra bisogna avvertirci prima dell'inizio stagione per avere un prezzo scontato. Altrimenti ci sono diverse possibilità con AirBnB, Booking.com nella città di Fertilia e Alghero.
    </p>
  </div>
</div>
